@import 'tools/reset.scss';

body{
    background-color: hotpink;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrap{
        width: 60%;
        
        .figura{
            height: 40%;
        }
        .figuras{
            height: 60%;
            margin-top: 3rem;
            .quadrado-g{
                float: left; 
                width: 380px; height: 380px; background: red;
                margin-right: 2rem;
            }
            .quadrados{
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                .quadrado-p{
                    float: left; 
                    width:174px; height: 174px; background: red;
                }
            }
        }
    }
}