@import 'tools/reset.scss';

body{
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrap{
        background-color: whitesmoke;
        height: 95%;
        width: 95%;
        border-radius: 5px;

        .header{
            display: flex;
            justify-content: space-between;
            height: 10%;
            border-bottom: .5rem solid orangered;
            a{
                text-decoration: none;
                color: black;
                display: flex;
                align-items: center;
                margin-left: 3rem;
            }
            ul{
                display: flex;
                gap: 5rem;
                list-style-type: none;
                margin-right: 3rem;
            }
        }
        .main{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 20px;
            line-height: 1.5;
            height: 70%;

            p{
                width: 50%;
                border-left: .5rem solid orangered;
                border-right: .5rem solid orangered;
                height: 100%;
                display: flex;
                align-items: center;
                padding:0 3rem;
                
            }
        }
        .footer{
            border-top: .5rem solid orangered;
            display: flex;
            justify-content: space-around;
            
            ul{
                display: flex;
                list-style-type: none;
                gap: 5rem;
                align-items: center;
            }
            
        }
    }
}