@import "var.scss";

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
}
.about-img img{
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}
.about-text h2{
    font-size: $h2;
    line-height: 1;
}
.about-text h4{
    font-size: 24px;
    font-weight: 600;
    color: $text;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: $second;
    font-size: $p;
    line-height: 1.8;
    margin-bottom: 3rem;
}