// Header
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
    max-height: 100px;

    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navlist{
        display: flex;

        a{
            color: $text;
            font-size: 17px;
            font-weight: 500;
            margin: 0 25px;
            transition: all .45s ease;
        }
        a:hover{
            color: $main;
        }
        a.active{
            color: $main;
        }
    }
    #menu-icon{
        font-size: 35px;
        color: $main;
        z-index: 10001;
        cursor: pointer;
        margin-left: 25px;
}
}
header.sticky{
    background: $bg;
    border-bottom: 1px solid #ffffff1a;
    padding: 0 15%;
    max-height: 100px;
    
    .navlist a{
        color: $text;
    }
}