@media (max-width: 1480px){
    header{
        padding: 12px 2.5%;
        transition: .8s;
    }
    header.sticky{
        padding: 10px 2.5%;
        transition: .8s;
    }
    section{
        padding: 110px 3% 60px;
    }
    .end{
        padding: 15px 3%;
    }
}
@media (max-width: 1100px){
    
    
        /*
        big: 4rem;
        h2: 2.5rem;
        p: 1mre;
        */
    .home-text h3{
        font-size: 2.5rem;
    }
    .home{
        height: 87vh;
    }
}
@media (max-width: 920px){
    
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        order: 2;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .contact{
        grid-template-columns: 1fr;
    }
    #menu-icon{
        display: flex;
    }
}
@media (max-width: 880px){
    
    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: $bg;
        text-align: right;
        transition: all .45s ease;
    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: $text;
    }
    .navlist a:hover{
        color: $main;
    }
    .navlist a.active{
        color: $text;
    }
    .navlist.open{
        top: 100%;
    }
}
@media (min-width: 880px){
    #menu-icon{
    display: none;
    .navlist{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: $bg;
        text-align: left;
        transition: all .45s ease;
    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: $text;
    }
    .navlist a:hover{
        color: $main;
    }
    .navlist a.active{
        color: $text;
    }
}
}
